.conteudo{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-right: 40px;
    
}

.item{
    width: 510px;
    margin: 10px 20px;
    display: inline-block;
    text-align: start;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    
}

.titulo{
    font-size: 1.3em;
    margin: 10px;
}

.menu{
    margin: 20px 10px;
    width: 100%;
    border-top: 2px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 4px black;
}
