
.card{
    width: 540px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.2s ease;

    
}
.card:hover{
    background-color: rgb(253, 253, 253);
    transform: scale(1.02);
    border-radius: 10;
}

.info{
   display: flex;
   flex-direction: column;
   width: 430px;
   h1{
    font-size: 1.6em;
    font-weight: bold;
   }
   h2{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px; 
   }
   span{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: auto;
    font-family: 'Times New Roman', Times, serif;
   } 
}

.img{
    margin: 10px 4px;
    
}