
.card{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.info{
   display: inline-block;
   width: 400px;
   h1{
    font-size: 1.7em;
   }
   h2{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif; 
   }
}

.img{
    margin: 10px;
    display: inline-block;
    justify-content: end;
}